<!DOCTYPE html>
<html>
<head>
    <title>Authenticate</title>
    <script>
        function printmessage() {
            document.getElementById("result").innerText = `Recording voice now...`;
        }
    </script>
    
</head>
<body>
    <h1>Answer Security Questions</h1>
    <form method="post" action="/kba">
        <input type="hidden" name="user_id" value="{{ user.user_id }}">

        {% for question in random_questions %}
        <label for="security_answer_{{ loop.index0 }}">{{ question.text }}</label>
        <input type="hidden" name="question_id_{{ loop.index0 }}" value="{{ question.id }}">
        <input type="password" id="security_answer_{{ loop.index0 }}" name="security_answer_{{ loop.index0 }}" placeholder="Enter your answer" required><br>
        {% endfor %}

        <div id="result"></div>
        <button type="submit" onclick="setTimeout(printmessage, 1000)">Verify</button>
    </form>
</body>
</html>
