<!DOCTYPE html>
<html>
<head>
    <title>Voice Registration</title>
    <script>
        async function recordVoice() {
            try {

                // Retrieve username from the form
                const username = document.getElementById("username").value;

                let formData = new FormData();
                formData.append('username', username);

                let response = await fetch('/voice_registration', {
                    method: 'GET',
                    body: formData  // Include username in the body
                });

                let data = await response.json();
                console.log(data.message);

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }


            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

    </script>
</head>
<body>
    <h2>Voice Registration for {{ username }}</h2>
    <button onclick="recordVoice()">Register Voice Sample</button><br>
    <button type="submit">Submit Voice</button>
</body>
</html>
